{% extends "base_logged_in.html" %}

{% comment %}
Template for viewing a resume.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume-item {
      margin-top: 36px;

      position: relative;
    }

    section.resume-item > a.btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    
    
    section.resume-item > a.myBtn {
      position: absolute;
      right: 70px;
      top: 0;
    }

    div.resume-container > a.myBtn {
      margin-top: 24px;
      margin-bottom: 24px;
    }



  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>

    {% for resume in resumes %}
      <section class="resume-item">
        <div class="container-fluid">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" >
                <h3>{{ resume.title }} </h3>
            </div>
            <div class="col-sm-6" >
                <h3><a href="{% url 'resume' resume.id %}">{{ resume.resumeitem_set.all.count }} item{{ resume.resumeitem_set.all.count|pluralize }} </a></h3>
            </div>
        </div>
        </div>
        </div>
        <a class="btn btn-primary" href="{% url 'resume-edit' resume.id %}">Edit</a>
        <a class="myBtn btn btn-primary" href="{% url 'resume-edit' resume.id %}">Rename</a>
      </section>
    {% endfor %}

    <a class="btn btn-success" href="{% url 'resume-create' %}">Create new resume</a>
  </div>
{% endblock %}
